spring:
  application:
    name: blog

  config:
    import: optional:file:.env[.properties]
  profiles:
    active: dev

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

logging:
  level:
    org.springframework.boot.context.config: DEBUG

custom:
  jwt:
    secret: ${CUSTOM__JWT__SECRET_KEY}
    expire-seconds: 3600
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:3000}