spring:
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB:uppick}
    username: ${POSTGRES_USER:uppick}
    password: ${POSTGRES_PASSWORD:}
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

custom:
  cookie:
    secure: true
    same-site: None