spring:
  application:
    name: blog

  config:
    import: optional:file:.env[.properties]
  profiles:
    active: dev

  flyway:
    enabled: true
    locations: classpath:db/migration, classpath:db/seed
    baseline-on-migrate: true

logging:
  level:
    org.springframework.boot.context.config: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never
  metrics:
    tags:
      application: ${spring.application.name}

realtime:
  sse:
    keepAliveSec: 15
    bufferSize: 10000

custom:
  jwt:
    secret: ${CUSTOM__JWT__SECRET_KEY}
    access-expire-seconds: 3600
    refresh-expire-seconds: 604800
  cookie:
    secure: false
    same-site: Lax
    access-token-name: access_token
    refresh-token-name: refresh_token
  cors:
    allowed-origins: ${CUSTOM__CORS__ALLOWED__ORIGINS:http://localhost:3000}